
{% extends "main.html" %}

{% block content %}

    <script>
        function checkForm(){

            // name
            if ( $('#name').val().trim() == '' ){
                alert('이름을 입력하세요');
                $('#name').focus();
                return false;
            }

            // email
            if ( $('#email').val().trim() == '' ){
                alert('이메일을 입력하시오');
                $('#email').focus();
                return false;
            }

            // validate email
            if ( validateEmail( $('#email').val().trim()) == false ){
                alert('이메일 형식이 올바르지 않습니다');
                $('#email').focus();
                return false;
            }

            // pass1
            if ( $('#pass1').val().trim() == '' ) {
                alert('패스워드를 입력하세요');
                $('#pass1').focus();
                return false;
            }

            // pass2 
            if ( $('#pass2').val().trim() == '' ){
                alert('비밀번호 확인을 입력하세요');
                $('#pass2').focus();
                return false;
            }

            // confirm password same
            if ( $('#pass1').val().trim() != $('#pass2').val().trim() ){
                alert('비밀번호가 일치 하지 않습니다');
                $('#pass2').select().focus();
                return false;
            }

            return true
        }
    </script>


    <form name="form" action="{{ url_for('member.member_join')}}" method="post" onsubmit="return checkForm();">
        <div class="form-group">
            <label for="name">이름</label>
            <input class="form-control" type="text" name="name" id="name">
        </div>
        <div class="form-group">    
            <label for="email">이메일</label>
            <input class="form-control" type="text" name="email" id="email">
        </div>
        <div class="form-group">    
            <label for="pass">비밀번호</label>
            <input class="form-control" type="password" name="pass" id="pass1">
        </div>
        <div class="form-group">    
            <label for="pass2">비밀번호확인</label>
            <input class="form-control" type="password" name="pass2" id="pass2">
        </div>
        <div class="text-center"><input type="submit" value="회원가입" class="btn btn-outline-primary"></div>
    </form>

{% endblock %}