{% extends "main.html" %}

{% block content %}

<script>
    function checkForm(){   // true, false를 주는 함수
        
        if( $('#email').val().trim() == "" ){
            alert("아이디를 입력하세요");
            $("#email").focus();
            return false;
        }

        if( false == validateEmail( $('#email').val().trim()) ){
            alert("이메일 형식이 올바르지 않습니다")
            $("#email").focus();
            return false;
        }

        if( $("#pass").val().trim() == "") {
            alert("비밀번호를 입력하세요");
            $('#pass').focus();
            return false;
        }

        return true;
    }
</script>

<form action="{{ url_for('member.member_login') }}" name="form" method="post" onsubmit="return checkForm()">
    <input type="hidden" value="{{ csrf_token() }}" name="csrf_token">
    {% if next_url %}
    <input type="hidden" value="{{ next_url }}" name="next_url">
    {% endif %}
    <div class="form-group">
        <label for="email">이메일</label>
        <input class="form-control" type="text" name="email" id="email">
    </div>
    <div class="form-group">
        <label for="pass">비밀번호</label>
        <input class="form-control" type="password" name="pass" id="pass">
    </div>
    <div class="text-center"><input type="submit" value="로그인" class="btn btn-outline-primary"></div>
</form>

{% endblock %}