<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %} {{ title }} {% else %} 조조삼국통일 {% endif %}</title>

    <!-- jquery import -->
    <script src="https://code.jquery.com/jquery-3.6.1.slim.js"></script>

    <!-- flash message -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <script>
        alert("{{ messages[-1] }}")
        // alert 창 띄울려고 이렇게 만드는겨, 점프는 alert 창이 아님
    </script>
    {% endif%}
    {% endwith%}

    <script>
        // email 검증 함수 true, false 리턴
        function validateEmail(email){
            var pattern = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*[.]([a-zA-Z]){2,3}$/i;
            return pattern.test(email);
        }
    </script>

</head>

<body style="background-color:#a3cca2">


    <!-- menu -->
    {% include "menu.html" %}

    <!-- content -->
    {% block content %}
    {% endblock %}

    <!-- script -->
    {% block script %}
    {% endblock %}
</body>

</html>