
{% extends "main.html" %}

{% block content %}

<script>
    // board.board_view 하고는 별개의 라우터를 만들었어
    $(document).ready(function(){   // 페이지 로드되면, 코멘트 함수 호출해줌
        get_comment_list();
    })

    // 코멘트 삭제
    function deleteComment(idx) {
        $.ajax({
            url: "{{ url_for('board.comment_delete') }}",
            type: 'post',
            cache: false,
            data : {
                "id": idx,
                'csrf_token': "{{ csrf_token() }}"
            },
            success : function(data) {
                if( data.error == "success"){
                    get_comment_list();
                    alert('삭제 되었습니다');
                }
            }, 
            error: function(request, status, error) {
                var msg = "Error : " + request.status + "<br>";
                msg += "내용: " + request.responseText + "<br>" + error;
                console.log(error);
            }
        })
    }

    // comment edit
    function editComment(idx) {

    }

    function addComment(){  // 코멘트 작성하면 > 코멘트 불러와줌
        $.ajax({
            url: "{{ url_for('board.comment_write') }}",
            type: 'POST',
            data: $("#commentForm").serialize(),
            success: function(data) {
                $('#comment').val('');
                get_comment_list();

            },
            error: function(request, status, error) {
                var msg = "Error : " + request.status + "<br>";
                msg += "내용: " + request.responseText + "<br>" + error;
                console.log(error);
            }
        })
    }

    function get_comment_list() {   // 코멘트 불오와서 html 만들어줌
        $.ajax({
            url: "{{ url_for('board.comment_list', root_idx=result.id) }}",
            cache: false,
            dataType: "json", // json 형태로 데이터를 받겠다
            type: 'get',
            success : function(data) {
                var c = data.lists;
                var html = '';
                console.log('ajax 실행')

                if(c.length > 0 ) {
                    for(var i=0; i < c.length; i++){
                        // board.py에서 수정권한이 있는지 확인해서 넘겨줌
                        html += "<div>";
                            html += "<table class='table'>";
                            html += "<tr>";
                            html += "<td width='100'><h6>" + c[i].name + "</h6></td>";
                            html += "<td>" + c[i].comment;
                            if( c[i].owner ) {
                                html += " <a href='#' onclick='deleteComment(\"" + c[i].id +  "\")'>삭제</a>";
                                html += "|<a href='#' onclick='editComment(\"" + c[i].id +  "\")'>수정</a>";
                            }                            
                            html += "</td>";
                            html += "<td class='text-right' width='200'>" + c[i].pubdate+ "</td>";
                            html += "</tr>";
                            html += "</table>";
                            html += "</div>";   
                    }
                }
                $('#cCnt').html(c.length);
                $('#commentList').html(html);

            },
            error : function(request, status, error) {
                var msg = "Error : " + request.status + "<br>";
                msg += "내용" + request.responseText + "<br>" + error;
                console.log(msg);
            }
        })
    }
</script>

<table class="table table-bordered mt-3">
    <tbody>
        <tr>
            <td colspan="2">{{result.title}}</td>
        </tr>
        <tr>
            <td>{{result.name}}</td>
            <td class="text-right">{{result.pubdate|formatdatetime}}</td>
        </tr>
        {% if result.attachfile %}
        <tr>
            <td>첨부파일</td>            
            <td><a href="{{ url_for('board.board_files', filename=result.attachfile) }}">{{ result.attachfile }}</a></td>
        </tr>
        {% endif %}
        <tr>
            <td colspan="2"><div style="min-height:200px">{% autoescape false%}{{result.contents}}{% endautoescape %}</div></td>
        </tr>
    </tbody>
</table>

<a class="btn btn-primary" href="{{ url_for('board.lists', page=page, search=search, keyword=keyword)}}">리스트로</a>

{% if session.id == result.writer_id %}
    <a class="btn btn-danger float-right ml-1" href="{{ url_for('board.board_delete', idx=result.id) }}">글삭제</a>
    <a class="btn btn-warning float-right" href="{{ url_for('board.board_edit', idx=result.id) }}">글수정</a>
{% endif%}

<br><br>
<!-- comment 입력-->
<form action="{{ url_for('board.comment_write') }}" name="commentForm" id="commentForm" method="post">
    <input type="hidden" name='csrf_token' value="{{ csrf_token() }}">
    <input type="hidden" name="root_idx" value="{{ result.id }}">
    <div>
        <span><strong>댓글</strong></span> <span id="cCnt">0</span>
        <table class="table">
            <tr>
                <td><textarea name="comment" id="comment" cols="110" rows="3" placeholder="댓글을 입력하세요"></textarea></td>
                <td><a href="#" class="btn btn-primary" onclick="addComment();" style="height:80px;">등록하기</a></td>
            </tr>
        </table>
    </div>
</form>

<!-- comment가 있으면 ajax 출력 -->
<div id="commentList"></div>

{% endblock %}